$color-black-text: #191919;
$color-gray-text: #eeeeef;
$color-gray-dark-text: #abadb1;
$color-black: #000;
$color-red: #d20a0a;
$color-gray-blue: #585b63;
$color-gray-light: #d5d6d8;
$color-bottom-line: #eaeaea;
$color-green: #4a873f;
$color-gray-stats-text: #767676;
$color-red-stats-text: #9f3f31;
$color-black-stats-text: #2c2c2c;
$color-gray-light-stats-text: #a5a4a9;
$color-blue: #16559f;
$color-brogress-bg: #f9f9f9;

$screen-1: 620px;
$screen-2: 768px;
$screen-3: 900px;
$screen-4: 400px;
$screen-5: 1024px;
