@font-face {
  font-family: 'DIN 2014 Web';
  src: url('../fonts/DIN2014Web-Regular.woff2') format('woff2'), url('../fonts/DIN2014Web-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN 2014 Web Narrow';
  src: url('../fonts/DIN2014Web-Narrow.woff2') format('woff2'), url('../fonts/DIN2014Web-Narrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaWebCondensed';
  src: url('../fonts/KlavikaWebCondensed.woff2') format('woff2'), url('../fonts/KlavikaWebCondensed.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN 2014 Narrow';
  src: url('../fonts/DIN2014-NarrowBold.woff2') format('woff2'), url('../fonts/DIN2014-NarrowBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN 2014';
  src: url('../fonts/DIN2014-Bold.woff2') format('woff2'), url('../fonts/DIN2014-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
